<%- include('./partials/head.ejs') %>

<% smartzones.forEach(smartzone => { %>
 <article>
  <h2><%= smartzone.name %></h2>
  <p><%= smartzone.name %></p>
  <p><%= smartzone.geolocation %></p>
  <p><%= smartzone.town %></p>
  <p><%= smartzone.address %></p>
  <p><%= smartzone.NL %></p>
 </article>
<% }) %>

<%- include('./partials/foot.ejs') %>
